<!doctype html>
<html ng-app='CheckShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .allBought {
        color: red;
      }
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <h1>Shopping List Check Off</h1>
    <div class="row">
      <!-- To Buy List -->
      <div class="col-md-d">
        <h2>To Buy:</h2>

          <div ng-controller='ToBuyController as showList'>
            <ol>
              <li ng-repeat="item in showList.items">
                 Buy {{ item.quantity}} {{ item.name }}
                <button ng-click="showList.removeItem($index);">{{showList.boughtMessage}}</button>
              </li>
            </ol>
            <div ng-if="!showList.items.length" class="allBought">{{showList.allBoughtMessage}}</div>
          </div>
        <h2>Bought:</h2>

          <div ng-controller='BoughtController as itemBought'>
            <ol>
              <li ng-repeat="item in itemBought.boughtItems">
                 Bought {{ item.quantity}} {{ item.name }}
              </li>
            </ol>
            <div ng-if="!itemBought.boughtItems.length" class="allBought">{{itemBought.nothingBoughtMessage}}</div>
          </div>
        </div>
        </div>
  </div>
  </body>
</html>
